<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Distic.Employability.Calculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Distic.Employability.Calculator.Properties.Settings>
            <setting name="ECButtonBackColor" serializeAs="String">
                <value>177, 127, 42</value>
            </setting>
            <setting name="ECOutputFrameBackColor" serializeAs="String">
                <value>201, 230, 143</value>
            </setting>
            <setting name="ECButtonForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ECButtonBackColorHover" serializeAs="String">
                <value>177, 147, 42</value>
            </setting>
            <setting name="ECButtonRectSize" serializeAs="String">
                <value>87, 78</value>
            </setting>
        </Distic.Employability.Calculator.Properties.Settings>
    </userSettings>
</configuration>